
@model cource
@{
    ViewData["Title"] = "Edit";
    var category = new SelectList(ViewBag.category, "Id", "Name");

}

<h1>Update cource</h1>
<br />
<br />

<div class="row">
    <div class="col-6">
        <form asp-action="Edit" asp-controller="cource"> 
            <input hidden asp-for="id"/>
            <div class="form-group">
                <label asp-for="@Model.name" class="col-form-label"></label>
                <input asp-for="@Model.name" class="form-control"/>
                <span asp-validation-for="@Model.name" class="text-danger"></span>
            </div>
         
            <input type="submit" value="Add" class="btn btn-primary"/>
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>

@section Scripts {


    <partial  name="_ValidationScriptsPartial"/>
   
}



