
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - first_step</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
     <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="~/stylesheet" href="/css/bootstrap.css">
</head>
<body>
        <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">first_step</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Privacy">Privacy</a>
                        </li>
                    </ul>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Identity/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
    </li>
</ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">


<section class="">
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #ffc107;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3"> Register for free </span>
                    <button type="button" style="margin-left: 20px;" class="btn btn-outline-light btn-rounded">
                        Sign up!
                    </button>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://Future.com/">Future.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - first_step - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>

-------------------------------------------------------------------------------------




        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand text-warning" href="#">Future</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Html</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">css</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">js</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">bootstrap</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            tracks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Frontend</a>
                            <a class="dropdown-item" href="#">backend</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Fullstack</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container m-1">
            <div class="row">
                <div class="col-lg-8">
                    <div class="jumbotron bg-light">
                        <h1 class="display-4 text-warning">Future</h1>
                        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                        <hr class="my-4">
                        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="list-group">
                        <a href="#x" data-toggle="collapse" class="list-group-item list-group-item-action active bg-warning">
                            Category
                        </a>
                        <div class="collapse show" id="x">
                            <a href="#" class="list-group-item list-group-item-action">Html</a>
                            <a href="#" class="list-group-item list-group-item-action">css</a>
                            <a href="#" class="list-group-item list-group-item-action">js</a>
                            <a href="#" class="list-group-item list-group-item-action ">bootstrap</a>
                            <a href="#" class="list-group-item list-group-item-action ">Examples</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center m-5">
                <h3>Cources</h3>
                <p>هنا ستجد كورسات البرمجه</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6  col-sm-12 p-1">
                    <div class="card">
                        <img class="card-img-top" src="images/1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  col-sm-12 p-1">
                    <div class="card">
                        <img class="card-img-top" src="images/1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-sm-12 p-1">
                    <div class="card">
                        <img class="card-img-top" src="images/1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-sm-12 p-1">
                    <div class="card">
                        <img class="card-img-top" src="images/1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-sm-12 p-1">
                    <div class="card">
                        <img class="card-img-top" src="images/1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6  col-sm-12 p-1">
                    <div class="card">
                        <img class="card-img-top" src="images/1.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-warning">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container w-75">
            <div class="text-center m-5">
                <h3>Learn more</h3>
                <p>تعلم المزيد</p>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="images/1.jpeg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/2.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="images/3.jpeg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="container">
            <div class="text-center m-5">
                <h3>Learn more</h3>
                <p>تعلم المزيد</p>
            </div>

            <div class="card mb-3">
                <div class="row" style="justify-content: space-between;">

                    <div class="col-md-8">
                        <div class="card-body ">
                            <h2 class="card-title">اتصل بنا</h2>
                            <p><small>يمكنك التواصل بنا في اي وقت</small></p>
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                                </div>
                                <div class="form-group">
                                    <label>اترك رسالتك</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                                <div class="btn btn-warning">send</div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="images/4.jpeg" style="height: 500px;width: 100%; " class="card-image">
                    </div>
                </div>
            </div>

            <!-- footer -->








            <script src="/js/popper.min.js"></script>
            <script src="/js/jquery-3.6.3.min.js"></script>
            <script src="/js/bootstrap.js"></script>


<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="7e828b8c6d0844208c2bf3ff67159abf" data-requestMappingFromServer="false" data-connectUrl="http://localhost:49339/620cb4481232459eb55e505764d0e491/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script></body>
</html>


